@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.sxheader{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgb(66, 77, 100);
    align-items: center;
}
.logosx{
    width: 250px;
    object-fit: contain;
}
.menu-list ul{
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
}
.menu-list ul li:hover, .menu-list ul li #cadastro:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: 0.25s;
}
main{
    display: flex;
    justify-content: center;
    background-image: url('https://www.sxgrupo.com.br/img/banner.c62d48f0.png');
    height: 100vh;
    background-size: contain;
    
}
.container-popup{
    border: none;
    border-radius: 8px;
    padding: 70px;
    box-shadow: 1px 2px 8px white;
    background-color: white;
    height: fit-content;
    margin-top: 30px;
}
.pop-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
form input{
    width: 500px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid rgb(197, 197, 197);
}
form button{
    margin-top: 20px;
    background-color: rgb(51, 139, 180);
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    width: 200px;
}
#cadastro{
    background: none;
    border: none;
    color: white;
}